# Entorno virtual
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Modelos pesados (opcional pero recomendado)
*.h5
*.keras

# Tensorflow cache
*.pb

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db